<div class="grid page__reading_list--new">
  <header class="grid__col-xs-12">
    <h2><%= gettext "Save new article" %></h2>
  </header>

  <article class="grid__col-xs-12">
    <%= render "form.html", changeset: @changeset,
                            action: reading_list_path(@conn, :create) %>
  </article>
</div>
